* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Roboto";
    background-color: #123456;
}

body {
    min-height: 1200px;
    max-width: 1920px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hotline img {
    position: relative;
    top: -40px;
}

.hotline {
    width: 100%;
    float: left;
}

.hotline ul {
    margin-top: 30px;
}

.hotline ul li {
    float: left;
    margin-left: 65.2px;
}

/*.hotline a.imgg{*/
/*padding-left: 0px;*/
/*}*/

.hotline ul a {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    text-decoration: none;
}

.hotline ul a:hover {
    color: #123123;
    transition: all 0.3s;
}

.hotline ul a.purple {
    color: #b998ef;
}

.hotline button {
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #49d5fe;
    background-color: rgba(255, 255, 255, 0);
    width: 190px;
    height: 35px;
}

.hotline button:hover {
    font-size: 16px;
    transition: all 0.3s;
}

.banner button {
    font-size: 18px;
    line-height: 54px;
    color: #4cc4f4;
    height: 50px;
    width: 260px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 455px;
}

.banner a {
    display: block;
    text-align: center;
    padding-top: 314px;
}

.banner button {
    display: block;
    text-align: center;
    margin-top: 77px;
}

.banner button:hover {
    font-size: 20px;
    transition: all 0.3s;
}

/*.tri3{*/
/*background-image: url(../img/jpg/fonheader.jpg);*/
/*height: 1040px;*/
/*background-repeat: no-repeat;*/
/*}*/

.lines {
    height: 128px;
    margin-top: 267px;
}

.banner {
    height: 790px;
}

.hotline {
    height: 115px;
    margin-top: 50px;
}

.lines p {
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
    padding-top: 40px;
}

.lines p span {
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
}

.cards {
    background-color: #f0f4f7;
    height: 800px;
}

.tesst {
    background-color: #1f2847;
    width: 265px;
    height: 140px;
}

.tesst h2 {
    font-size: 17px;
    line-height: 54px;
    text-align: center;
}

.tesst h2.sky {
    color: #4fceff;
}

.tesst h2.blur {
    color: #858eff;
}

.tesst h2.blue {
    color: #6e87fa;
}

.tesst h2.purp {
    color: #af82f6;
}

.test {
    width: 265px;
    height: 540px;
    margin-top: 135px;
    box-shadow: 2px 2px 1px 1px rgba(207, 215, 221, 1);
}

.test img {
    padding-top: 19px;
    padding-left: 99px;
}

.test ul li span {
    font-size: 15px;
    line-height: 48px;
    color: #1f2847;
    display: block;
    text-align: center;
}

.test span.procent {
    font-size: 45px;
    line-height: 24px;
    color: #1f2847;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 25px;
}

.test span.day {
    font-size: 15px;
    line-height: 24px;
    color: #1f2847;
    font-weight: bold;
    padding: 15px;
}

.test ul li.wight {
    background-color: #ffffff;
    height: 45px;
}

.test ul li.grey {
    background-color: #f0f4f7;
    height: 45px;
}

.test ul li span {
    text-align: center;
}

.test .b1, .b2, .b3, .b4 {
    background-color: #ffffff;
    padding: 17px;
    height: 80px;
}

.test .b1 button {
    display: block;
    height: 50px;
    width: 230px;
    text-align: center;
    font-size: 16px;
    line-height: 54px;
    color: #ffffff;
    border: none;

    background-color: #637ae2;
}

.test .b2 button {
    height: 50px;
    width: 230px;
    text-align: center;
    font-size: 16px;
    line-height: 54px;
    color: #ffffff;
    border: none;
    background-color: #858eff;
}

.test .b3 button {
    height: 50px;
    width: 230px;
    text-align: center;
    font-size: 16px;
    line-height: 54px;
    color: #ffffff;
    border: none;
    background-color: #af82f6;
}

.test .b4 button {
    height: 50px;
    width: 230px;
    text-align: center;
    font-size: 16px;
    line-height: 54px;
    color: #ffffff;
    border: none;
    background-color: #4fceff;
}

.test .b1 button:hover {
    background-color: #F4A460;
    font-size: 18px;
    transition: all 0.3s;
}

.test .b2 button:hover {
    background-color: #F4A460;
    font-size: 18px;
    transition: all 0.3s;
}

.test .b3 button:hover {
    background-color: #F4A460;
    font-size: 18px;
    transition: all 0.3s;
}

.test .b4 button:hover {
    background-color: #F4A460;
    font-size: 18px;
    transition: all 0.3s;
}

.test span.blue {
    color: #5a6fcf;
}

.test span.blur {
    color: #6a86f1;
}

.test span.purp {
    color: #a773f7;
}

.test span.sky {
    color: #33c1f7;
}

form option {
    font-size: 17px;
    line-height: 48px;
    color: #17203f;
}

.dohod {
    background-image: url(../img/jpg/foncontent.jpg);
    height: 670px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.dohod h1 {
    font-size: 37px;
    line-height: 54px;
    color: #f0f4f7;
    padding-top: 95px;
}

.dohod div span {
    font-size: 14px;
    line-height: 54px;
    color: #f0f4f7;
}

.dohod button span {
    font-size: 21px;
    line-height: 54px;
    color: #ffffff;
}

.dohod button {
    font-size: 21px;
    line-height: 54px;
    color: #ffffff;
}

.dohod button:hover {
    font-size: 23px;
    transition: all 0.3s;
}

form.FormOne label {
    font-size: 17px;
    line-height: 48px;
    color: #ffffff;
    display: block;
}

.FormOne option {
    font-weight: 600;
}

.FormOne select {
    font-weight: 600;
}

.FormOne li {
    float: left;
    margin: 30px;
    margin-left: auto;
}

form.FormOne select {
    width: 270px;
    height: 45px;
    background-color: #ffffff;
}

.FormTwo {
    margin-top: 34px;
    margin-left: 31px;
}

form.FormTwo input {
    background-color: #2f3753;
    width: 510px;
    height: 40px;
    font-size: 17px;
    line-height: 48px;
    color: #ffffff;
}

form.FormTwo label {
    font-size: 17px;
    line-height: 48px;
    color: #ffffff;
    display: block;
    margin-left: 192px;
}

button.down {
    background-color: rgba(255, 255, 255, 0);
    width: 475px;
    height: 75px;
    color: #ffffff;
    float: right;
    margin-top: 68px;
    margin-left: 0;
}

button.down span {
    color: #ffffff;
    font-size: 21px;
    line-height: 54px;
    text-align: center;
}

.incubator {
    height: 745px;
    background-color: #ffffff;
}

.incubator h2 {
    font-size: 33px;
    line-height: 54px;
    color: #1f2847;
}

.incubator span {
    font-size: 14px;
    line-height: 54px;
    color: #1f2847;
    font-weight: bold;
}

.incubator p {
    font-size: 17px;
    line-height: 30px;
    color: #1f2847;
}

.incubator p.two {
    padding-left: 48px;
}

.incubator p span {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: #1f2847;

}

.incubator ul.clear {
    width: 100%;
    float: left;
}

.incubator ul.clear li {
    width: 33.3333%;
    float: left;
}

.incubator ul li img {
    float: right;
}

.ter {
    padding-top: 150px;
}

.bonus h2 {
    font-size: 33px;
    line-height: 30px;
    color: #1f2847;
    text-align: center;
    padding-top: 155px;
}

.bonus {
    background-color: #f0f4f7;
    height: 1170px;
}

.adv {
    width: 100%;
    float: left;
}

/*.yn, .part, .nach, .kval, .enter, .vozm{*/
/*display: block;*/
/*}*/

.adv .ri, .phon, .le {
    width: 33.333333%;
    float: left;
    margin-top: 100px;
}

.bonus span.pika {
    font-size: 14px;
    line-height: 30px;
    color: #1f2847;
    display: block;
    text-align: center;
}

.bonus p.pa {
    font-size: 17px;
    line-height: 35px;
    color: #1f2847;
    text-align: center;
    margin-top: 16px;
}

.bonus .plm p {
    font-size: 21px;
    line-height: 27px;
    color: #1f2847;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

.bonus span {
    font-size: 15px;
    line-height: 24px;
    color: #1f2847;
    font-weight: bold;
}

.partner {
    background-image: url(../img/jpg/foncontent2.jpg);
    height: 800px;
    background-position-y: -289px;
    background-position-x: -350px;
}

.partner h2 {
    font-size: 33px;
    line-height: 30px;
    color: #ffffff;
    padding: 130px 55px 70px 55px;
}

.partner .one {
    width: 565px;
    height: 100px;
    background-color: rgba(54, 104, 156, 0.7);
}

.partner .two {
    width: 565px;
    height: 100px;
    background-color: rgba(54, 104, 156, 0.7);
    margin: 20px 0;
}

.partner .tri {
    width: 565px;
    height: 100px;
    background-color: rgba(54, 104, 156, 0.7);
}

.partner .one p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
}

.partner .two p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
}

.partner .iii {
    float: right;
    width: 570px;
}

.partner .iii button {
    margin-left: 50px;
    margin-top: 95px;
}

.partner .tri p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
}

.partner .one p span {
    font-size: 33px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
}

.partner .two p span {
    font-size: 33px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
}

.partner .tri p span {
    font-size: 33px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;

}

.partner button {
    width: 475px;
    height: 75px;
    background-color: rgba(222, 222, 222, 0);
    color: #ffffff;
    font-size: 21px;
    line-height: 54px;
    display: block;
    text-align: center;
}

.partner button:hover {
    font-size: 23px;
    transition: all 0.3s;
}

.partner button span {
    font-size: 21px;
    line-height: 54px;
    color: #ffffff;
}

.news h2 {
    font-size: 33px;
    line-height: 30px;
    color: #1f2847;
    text-align: center;
    padding-top: 150px;
}

.news span.last {
    font-size: 14px;
    line-height: 30px;
    color: #1f2847;
    display: block;
    text-align: center;
}

.hhh {
    margin-top: 115px;
}

.BotBbi {
    float: right;
}

.news {
    width: 100%;
    background-color: #ffffff;
    height: 970px;
}

.news .beskonechnost, .BotBbi {
    width: 50%;
    float: left;
}

.news .img {
    width: 570px;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.qs img, h6 {
    float: left;
}

.news .m + .m {
    margin-top: 25px;
}

.news span {
    font-size: 13px;
    line-height: 24px;
    color: #9b9fad;
}

.news button {
    font-size: 16px;
    line-height: 50px;
    color: #4cc4f4;
    width: 190px;
    height: 50px;
}

.news button:hover {
    font-size: 18px;
    transition: all 0.3s;
}

.beskonechnost h3 {
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
}

.beskonechnost p {
    font-size: 15px;
    line-height: 20px;
    color: #ced9e1;
}

.iuy {
    position: relative;
    top: -113px;
    left: 30px;
}

.beskonechnost p a {
    font-size: 13px;
    line-height: 20px;
    color: #49d5fe;
    text-decoration: none;
}

.beskonechnost p a:hover {
    color: #123123;
}

.beskonechnost {
    margin-top: 25px;
}

.news span.bbi {
    font-size: 13px;
    line-height: 24px;
    color: #b4c1d2;
}

.news h6 {
    font-size: 15px;
    line-height: 27px;
    color: #1f2847;
    margin-left: 15px;
}

.news h6.h {
    font-size: 15px;
    line-height: 27px;
    color: #1f2847;
    font-weight: bold;
}

.news p.now {
    font-size: 15px;
    line-height: 20px;
    color: #6e7383;
}

.news p.now a {
    font-size: 13px;
    line-height: 20px;
    color: #29baf2;
    text-decoration: none;
}

.news p.now a:hover {
    color: #123123;
}

.news button {
    width: 190px;
    height: 50px;
    background: rgba(222, 222, 222, 0);
    border: 1px #31c6ff;
    font-size: 16px;
    line-height: 54px;
    color: #4cc4f4;
    margin-top: 74px;
    margin-left: -102px;
}

.m {
    background-color: #ffffff;

}

.qs {
    background-color: #f0f4f7;
    height: 69px;
}

.BotBbi {
    padding-top: 23px;
    float: right;
}

.button button {
    width: 460px;
    height: 80px;
    font-size: 21px;
    line-height: 54px;
    color: #ffffff;
    background-color: rgba(222, 222, 222, 0);
    text-align: center;
    margin-left: 355px;
}

.button button:hover {
    font-size: 23px;
    transition: all 0.3s;
}

.button button span.icon {
    font-size: 21px;
    line-height: 54px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
}

p.q {
    font-size: 15px;
    line-height: 25px;
    color: #bbc0d2;
}

.address span {
    font-size: 14px;
    line-height: 25px;
    color: #6981f1;
}

a.poh {
    font-size: 15px;
    line-height: 22px;
    color: #bbc0d2;
}

span.od {
    font-size: 14px;
    line-height: 22px;
    color: #b998ef;
}

span.odd {
    font-size: 14px;
    line-height: 22px;
    color: #49d5fe;
}

span.pul {
    font-size: 14px;
    line-height: 22px;
    color: #b998ef;
}

.chat span.puul {
    font-size: 14px;
    line-height: 22px;
    color: #49d5fe;
}

.downline li a {
    font-size: 14px;
    line-height: 17px;
    color: #bbc0d2;
}

.downline ul {
    display: block;
    text-align: center;
}

a.g {
    font-size: 14px;
    line-height: 17px;
    color: #b998ef;
}

.marketing h1 {
    font-size: 31px;
    line-height: 54px;
    color: #1f2847;
}

.marketing p span {
    font-size: 17px;
    line-height: 30px;
    color: #1f2847;
    font-weight: bold;
}

.marketing p {
    font-size: 17px;
    line-height: 30px;
    color: #1f2847;
}

.line span {
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
}

span.bol {
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
}

.cards1 {
    height: 640px;
    width: 270px;
}

.cards2 {
    height: 640px;
    width: 270px;
}

.cards3 {
    height: 640px;
    width: 270px;
}

.cards4 {
    height: 640px;
    width: 270px;
}

.testz {
    background-color: #1f2847;
    height: 140px;
}

.testzz {
    background-color: #1f2847;
    height: 140px;
}

.testzzz {
    background-color: #1f2847;
    height: 140px;
}

.testzzzz {
    background-color: #1f2847;
    height: 140px;
}

.testz h2 {
    font-size: 17px;
    line-height: 54px;
    color: #6e87fa;
    text-align: center;
}

.testzz h2 {
    font-size: 17px;
    line-height: 54px;
    color: #858eff;
    text-align: center;
}

.testzzz h2 {
    font-size: 17px;
    line-height: 54px;
    color: #af82f6;
    text-align: center;
}

.testzzzz h2 {
    font-size: 17px;
    line-height: 54px;
    color: #4fceff;
    text-align: center;
}

.multi {
    background-color: #ffffff;
}

.multi span {
    font-weight: bold;
}

.cards1 button {
    background-color: #637ae2;
    width: 230px;
    height: 50px;
    font-size: 16px;
    line-height: 54px;
    color: #ffffff;
    border: none;
    text-align: center;
}

.cards2 button {
    background-color: #858eff;
    width: 230px;
    height: 50px;
    font-size: 16px;
    line-height: 54px;
    color: #ffffff;
    border: none;
    text-align: center;
}

.cards3 button {
    background-color: #af82f6;
    width: 230px;
    height: 50px;
    font-size: 16px;
    line-height: 54px;
    color: #ffffff;
    border: none;
    text-align: center;
}

.cards4 button {
    background-color: #4fceff;
    border: none;
    width: 230px;
    height: 50px;
    font-size: 16px;
    line-height: 54px;
    color: #ffffff;
    text-align: center;
}

.downline {
    float: bottom;
}

.downline li {
    display: inline-block;
}

.downline li a:hover {
    color: #123123;
    transition: all 0.3s;
}

.downline li + li {
    margin-left: 50px;
}

.menu .cop, .address, .social, .chat {
    display: inline-block;
}

.menu .social a:hover {
    color: #fff;
    font-size: 14px;
    transition: all 0.3s;
}

.menu .chat a:hover {
    color: #fff;
    font-size: 14px;
    transition: all 0.3s;
}

.menu .address {
    margin-left: 120px;
}

.menu .social {
    margin-left: 70px;
}

.menu .chat {
    margin-left: 100px;
}

.payer ul {
    display: table;
    width: 100%;
    text-align: center;
}

.payer ul li {
    display: table-cell;
    vertical-align: top;
}

/*.payer li:first-child{*/
/*margin-left: ;*/
/*}*/

footer {
    /*background-image: url(../img/jpg/fonfooter.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 923px;
}

.adv .test {
    display: inline-block;
}

.adv .test + .test {
    margin-left: 31.4222px;
}

.lines {
    width: 100%;
    float: left;
}

.lines .poi {
    width: 33.33333%;
    float: left;
    height: 130px;
}

.lines div:last-child {
    background-color: #4fceff;
}

.lines div:nth-child(2) {
    background-color: #af82f6;
}

.lines div:first-child {
    background-color: #677fed;
}

.line div:last-child {
    background-color: #4fceff;
}

.line div:nth-child(2) {
    background-color: #af82f6;
}

.line div:first-child {
    background-color: #677fed;
}

.marketing {
    width: 100%;
    float: left;
}

.marketing li {
    width: 50%;
    float: left;
}

.line {
    width: 100%;
    background-color: #ffffff;
}

.line .poi {
    height: 130px;
}

.line p {
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

.line p span {
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
}

.line .poi {
    width: 33.3333%;
    float: left;
}

.qwe {
    margin: 0 -15px;
}

.cards1, .cards2, .cards3, .cards4 {
    width: 25%;
    float: left;
}

.bot [class*="card"] .in {
    padding: 0 15px;
}

.qwe img {
    padding-top: 19px;
    padding-left: 99px;
}

.banner2 {
    height: 445px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.banner2 a {
    position: relative;
    top: 31px;
    margin-left: 288px;
}

.marketing {
    height: 625px;
    background-color: #ffffff;
}

.marketing h1 {
    margin-top: 120px;
    margin-left: 40px;
}

.marketing ul {
    margin-top: 75px;
}

.bot {
    height: 845px;
    background-color: #eff3f6;
}

.up {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: #af82f6;
    color: #ffffff;
    border: none;
    height: 40px;
    width: 75px;
    border-radius: 360px;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }

    .hotline button {
        display: none;
    }

    .banner button {
        margin-left: 341px;
    }

    .cards {
        height: 1400px;
    }

    .test:nth-child(3) {
        position: relative;
        top: 673px;
        right: 75px;
    }

    .test:nth-child(1) {
        position: relative;
        left: 158px;
    }

    .test:nth-child(2) {
        position: relative;
        left: 225px;
    }

    .test:nth-child(4) {
        position: relative;
        left: 129px;
    }

    .dohod {
        background-position-x: -321px;
    }

    .incubator {
        height: 850px;
    }

    .partner {
        background-position-x: -561px;
    }

    .news {
        height: 1310px;
    }

    .beskonechnost {
        position: relative;
        left: 196px;
    }

    .BotBbi {
        position: relative;
        top: 400px;
        left: -230px;
    }

    .news button {
        position: relative;
        top: 360px;
    }

}

@media (max-width: 991px) {
    .container {
        width: 780px;
    }


}







